@model IEnumerable<DateMate.Models.FriendRequest>

@{
    ViewBag.Title = "ShowFriendRequest";
}

<h2>My mate Requests</h2>


<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.From.NickName)
        </td>
        <td>
            @Html.ActionLink("Accept", "AcceptRequest", new { id = item.ID}, new { @type = "button", @class = "btn btn-primary" })
            @Html.ActionLink("Deny", "DenyRequest", new { id = item.ID }, new { @type = "button", @class = "btn btn-primary" })
        </td>
    </tr>
}

</table>
